.about{
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80vw;
}
mat-card-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
h1{
    color: whitesmoke;
}

mat-card-subtitle{
    color: azure;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 30px;
}
.line {
    display: inline-block;

  }
  #orangeBlock{
    margin-left: 8px;
    margin-bottom: 5px;
    width: 226px;
    height: 5px;
    background-color: #523059;
  }

  .information{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
 .infor{
  margin-left: 20px;
 }
 img{
  border-radius: 5%;
  width: 100%;
  height: 100%;
  
 }
  h1{

    font-weight: bolder;

  }
  .mySelf{
    font-family: Great Vibes;
    font-size: 20px;
    letter-spacing: 2px;
  }

  .myBio{
    display: flex;
    flex-direction: row;   
    flex-wrap: wrap;
  }

  .eachInfo{
    margin-right: 5%;
    margin-top: 1%;
  }

  .skills{
    margin:auto
  }

  .sideCharArrow{
    font-size:30px; margin-right: 4px; color: #523059;
    font-weight: bolder;
  }

  .skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
  }

  .eachSkill{
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .eachSkill img{
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
  }

  @media only screen and (max-width: 767px) {
    .information {
      flex-direction: column;
      margin: auto;
      width: 80%;
      text-align: center;
      margin-bottom: 20px;
    }
    .infor{
      margin-left: -10px;
     }
    .myBio{
      flex-direction: column;
      width: 100%;
    }
    .skills{
      margin-left: 28px;
      display: flex;
      flex-direction: row;
    }
    .eachSkill{
      width: 80px;
      align-items: center;
      margin-right: 40px;
    }
    
  }

