
<mat-card class="about">
    <mat-card-header>
      <mat-card-title><h1 class="line">About</h1> <div class="line" id="orangeBlock"></div></mat-card-title>
      <!-- <mat-card-subtitle>Contact Me</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
        <div class="information">
            <div>
                <img src="https://media.licdn.com/dms/image/D4D03AQFDe8ltRPqKaw/profile-displayphoto-shrink_800_800/0/1676564438293?e=1684972800&v=beta&t=44wFx5iQzc2Z1-cn3RanrpN3G_xQYLPhcFzr9r4RHPA" alt="" >
            </div>
            <div class="infor">
                <h1>
                    Full Stack Web Developer with Angular Technology
                </h1>
            <div class="mySelf">
                As an electrical engineering graduate turned full-stack web developer, my ambition is to merge my technical expertise with my creative drive to build impactful and innovative digital solutions.
            </div>
            <div class="myBio">
                <mat-card class="eachInfo">
                    <mat-card-content><span class="sideCharArrow">&#8618;</span><span class="field">Name: </span>Priyanshu Negi</mat-card-content>
                </mat-card>

                <mat-card class="eachInfo">
                    <mat-card-content><span class="sideCharArrow">&#8618;</span><span class="field">DOB: </span>23-June-1998</mat-card-content>
                </mat-card>

                <mat-card class="eachInfo">
                    <mat-card-content><span class="sideCharArrow">&#8618;</span><span class="field">Age: </span>{{getAge()}}</mat-card-content>
                </mat-card>

                <mat-card class="eachInfo">
                    <mat-card-content><span class="sideCharArrow">&#8618;</span><span class="field">Phone: </span>+91-9891967027</mat-card-content>
                </mat-card>

                <mat-card class="eachInfo">
                    <mat-card-content><span class="sideCharArrow">&#8618;</span><span class="field">Email: </span>priyanshunegi2398@gmail.com</mat-card-content>
                </mat-card>

                <mat-card class="eachInfo">
                    <mat-card-content><span class="sideCharArrow">&#8618;</span><span class="field">Location: </span>Faridabad, Haryana</mat-card-content>
                </mat-card>
            </div>
            
            <div class="skills">

            </div>

            </div>
        </div>

    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>

