<div class="back">
 <br>
 <br>

<mat-card class="contact">
  <mat-card-header>
    <mat-card-title><h1 class="line">Contact</h1> <div class="line" id="orangeBlock"></div></mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <mat-card class="Data-title">
        <mat-card-header >
          <div mat-card-avatar class="example-header-image" >
            <i class='fas fa-map-marker-alt' style='font-size:48px; color: #7b1fa2;'></i>
         </div>
          <mat-card-title >My Address </mat-card-title>
          <mat-card-subtitle >A-29, Dayal Bagh, Faridabad, 121009</mat-card-subtitle>
        </mat-card-header>
      </mat-card>


      <mat-card class="Data-title">
        <mat-card-header >
          <div mat-card-avatar class="example-header-image">
            <i class="fa fa-share-alt" style="font-size:48px; color: #7b1fa2;"></i>
         </div>
          <mat-card-title>Social Profiles </mat-card-title>
          <mat-card-subtitle class="socialIcons">
        
            <a href="https://www.linkedin.com/in/priyanshu-negi-web-development/"><i class="fa fa-linkedin-square" style="font-size:24px;"></i></a>            
            <!-- <i class="fa fa-instagram" style="font-size:24px;"></i> -->
            <a href="https://join.skype.com/invite/zTgapcCFtPts"><i class="fa fa-skype" style="font-size:24px;"></i></a>
            <a href="https://github.com/PriyanshuNegiCodes"><i class="fa fa-github" style="font-size:24px;"></i></a>
            
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>

      <mat-card class="Data-title">
        <mat-card-header >
          <div mat-card-avatar class="example-header-image" >
            <i class="fa fa-envelope" style="font-size:48px; color: #7b1fa2;"></i>
          </div>
          <mat-card-title>Email Address </mat-card-title>
          <mat-card-subtitle >priyanshunegi2398@gmail.com</mat-card-subtitle>
        </mat-card-header>
      </mat-card>

      <mat-card class="Data-title">
        <mat-card-header >
          <div mat-card-avatar class="example-header-image" >
            <i class="fa fa-phone" style="font-size:48px; color: #7b1fa2;"></i>
          </div>
          <mat-card-title>Contact Number </mat-card-title>
          <mat-card-subtitle >+91-9891967027</mat-card-subtitle>
        </mat-card-header>
      </mat-card>

  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>


<div class="container text-center">
  <mat-card-header>
    <mat-card-title><h1 class="line">Find Me Here!!</h1> <div class="line" id="orangeBlock"></div></mat-card-title>
  </mat-card-header>
  <div class="row">
    <div class="col">
      <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3079.1358233321243!2d77.29676961379741!3d28.49504503616953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjjCsDI5JzM4LjQiTiA3N8KwMTcnNTUuMiJF!5e0!3m2!1sen!2sin!4v1679469024675!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>
</div>