
<mat-card class="contact">
    <mat-card-header>
      <mat-card-title><h1 class="line">Contact</h1> <div class="line" id="orangeBlock"></div></mat-card-title>
      <!-- <mat-card-subtitle>Contact Me</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
        <mat-card class="Data-title">
          <mat-card-header >
            <div mat-card-avatar class="example-header-image" >
              <i class='fas fa-map-marker-alt' style='font-size:48px; color: #7b1fa2;'></i>
           </div>
            <mat-card-title >My Address </mat-card-title>
            <mat-card-subtitle >A-29, Dayal Bagh, Faridabad, 121009</mat-card-subtitle>
          </mat-card-header>
        </mat-card>


        <mat-card class="Data-title">
          <mat-card-header >
            <div mat-card-avatar class="example-header-image">
              <i class="fa fa-share-alt" style="font-size:48px; color: #7b1fa2;"></i>
           </div>
            <mat-card-title>Social Profiles </mat-card-title>
            <mat-card-subtitle class="socialIcons">
              <i class="fa fa-linkedin-square" style="font-size:24px;"></i>
              <i class="fa fa-instagram" style="font-size:24px;"></i>
              <i class="fa fa-skype" style="font-size:24px;"></i>
              <i class="fa fa-github" style="font-size:24px;"></i>
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>

        <mat-card class="Data-title">
          <mat-card-header >
            <div mat-card-avatar class="example-header-image" >
              <i class="fa fa-envelope" style="font-size:48px; color: #7b1fa2;"></i>
            </div>
            <mat-card-title>Email Address </mat-card-title>
            <mat-card-subtitle >priyanshunegi2398@gmail.com</mat-card-subtitle>
          </mat-card-header>
        </mat-card>

        <mat-card class="Data-title">
          <mat-card-header >
            <div mat-card-avatar class="example-header-image" >
              <i class="fa fa-phone" style="font-size:48px; color: #7b1fa2;"></i>
            </div>
            <mat-card-title>Contact Number </mat-card-title>
            <mat-card-subtitle >+91-9891967027</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>

