.contact{
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80vw;
}
mat-card-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
h1{
    color: whitesmoke;
}

mat-card-subtitle{
    color: azure;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 30px;
}
.line {
    display: inline-block;
  }
  #orangeBlock{
    margin-left: 8px;
    margin-bottom: 5px;
    width: 100px;
    height: 5px;
    background-color: #7b1fa2;
  }

  .mat-stepper-vertical {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }