.back{
    background-image: url('src/assets/wallpaper.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img {
    margin-top: -150px;
    width: 250px;
    height: 350px;
    border-radius: 50%;
   
  }

.mySelf{
    margin-top: 6px;
    font-family: Great Vibes;
    font-size: 40px;
    letter-spacing: 2px;
  }

.qualy{
    margin-top: 20px;
    font-family: Roboto;
    font-size: 35px;
}

.eachSkill{
    margin-top: 10px;
    width: 100px;
    height: 100px;
  }